<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${boardVo.title}"></title>
</head>

<body style="display: flex; justify-content: center;">
    <style>
        #allPage {
            display: grid;
            grid-template-columns: 400px 1000px 400px;
            grid-template-rows: 1000px;
            column-gap: 10px;
        }

        .left_side {
            order: 1;
        }

        .right_side {
            order: 3;
        }

        #contents {
            order: 2;
            background-color: white;
            border: 2px solid #5d5d5d;
            padding: 30px 20px;
        }

        #comments_area {
            border: 1px solid black;
            width: 100%;
            padding: 5px;
        }

        #comments table {
            width: 100%;
            border-top: 1px solid black;
        }

        #comments td:nth-child(1) {
            width: 100px;
        }

        #comments td:last-child {
            width: 150px;
        }


        #comment_form {
            width: 90%;
            height: 70px;
        }

        #comment_text {
            resize: none;
            width: 80%;
            height: 60px;
        }
        #comments input[value="수정"] {
            margin-right: 5px;
        }
    </style>

    <div id="wrap">
        <header id="header" th:replace="~{/fragments/header :: headerFragment}"></header>
        <div id="allPage">
            <section id="left_side" th:replace="~{/fragments/left_side :: leftFragment}"></section>
            <div id="right_side" th:replace="~{/fragments/right_side :: rightFragment}"></div>
            <div id="contents" style="overflow-y: scroll;">
                <h1 id="title" th:text="${boardVo.title}"></h1>
                <hr>
                <div id="util_area">
                    <div id="div_left" style="float: left;" th:text="|작성자 : ${boardVo.writer}|"></div>
                    <div id="div_right" style="float: right;" th:text="|작성일 : ${boardVo.regdate}|"></div>
                </div>
                <br>
                <hr>
                <p id="hidcont" hidden th:text="${boardVo.cont}"></p>
                <div id="cont"></div>
                <hr><br>
                <div id="board_set" style="text-align: right; margin: 10px 0;">
                    <th:block th:if="${session.user}">
                        <th:block th:if="${session.user.username == boardVo.writer or session.user.username == '관리자'}">
                            <input type="button"
                                th:onclick="|location.href='@{UpdateForm(idx=${param.idx},menu_id=${param.menu_id})}'|"
                                value="수정">
                            <input type="button" value="삭제">
                        </th:block>
                    </th:block>
                    <th:block th:if="${boardVo.menu_id == 'MENU04'}">
                        <input type="button" th:onclick="|location.href='@{/ImageBoard/List}'|" value="목록">
                    </th:block>
                    <th:block th:if="${boardVo.menu_id != 'MENU04'}">
                        <input type="button" th:onclick="|location.href='@{List(menu_id=${param.menu_id})}'|"
                            value="목록">
                    </th:block>
                </div>
                <div>
                    <i class='bx bxs-message-rounded-dots'></i><span th:text="${commentList.size}"></span>
                </div>
                <div id="comments_area">
                    <div th:if="${session.user}" style="display: flex; justify-content: center;">
                        <span style="display: flex; align-items: center; margin-right: 5px;">댓글쓰기</span>
                        <form id="comment_form" action="/Board/WriteComment">
                            <textarea name="comment_text" id="comment_text" cols="30" rows="10"></textarea>
                            <th:blcok th:if="${session.user}">
                                <input hidden type="text" name="cwriter" id="cwriter"
                                    th:value="${session.user.username}">
                            </th:blcok>
                            <input type="submit" value="작성">
                        </form>
                    </div>
                    <p style="text-align: center;" th:unless="${session.user}">로그인후 댓글 작성이 가능합니다.<a
                            href="/loginpage">(로그인 바로가기)</a></p>
                    <br><br>
                    <div id="comments">
                        <table th:each="comm : ${commentList}">
                            <td th:text="${comm.cwriter}"></td>
                            <td>
                                <input hidden class="yeep" th:value="${comm.cidx}">
                                <span th:name="${comm.cidx}" th:text="${comm.comment_text}"></span>
                            </td>
                            <td>
                                <span th:text="${comm.cindate}"></span>
                                <th:block th:if="${session.user}">
                                    <input th:if="${comm.cwriter == session.user.username}"
                                    th:onclick="updateFormComment([[${comm.cidx}]])" text type="button" value="수정">
                                    <input th:if="${comm.cwriter == session.user.username}"
                                    th:onclick="deleteComment([[${comm.cidx}]])" text type="button" value="삭제">
                                </th:block>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:if="${session.user}">
        <p id="getlogid" hidden th:text="${session.user.username}"></p>
    </th:block>
</body>
<script>
    // 현재 URL에서 idx 값 추출하는 함수

    function getIdxFromUrl() {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('idx');
    }
    let idx = getIdxFromUrl();


    // 댓글 목록 가져오기
    function refreshComments() {
        let logname = '';
        $.ajax({
            url: '/Board/CommentList?idx=' + idx,
            type: 'GET',
            dataType: 'json',
            success: function (comments) {
                // alert("리프레쉬성공");
                $('#comments').empty();
                $.each(comments, function (index, comment) {
                    var commentEntry = '<table>' +
                        '<td>' + comment.cwriter + '</td>' +
                        '<td>' +
                            '<input hidden class="yeep" value="'+ comment.cidx +'">' 
                            + '<span name="' + comment.cidx + '">' + comment.comment_text + '</span>' + '</td>' +
                        '<td>' + '<span>' + comment.cindate + ' </span>';
                            if('[[${session.user}]]'){
                                logname = $('#getlogid').text();
                                if(logname == comment.cwriter){
                                    commentEntry += `<input onclick="updateFormComment(${String(comment.cidx)})" text="" type="button" value="수정">`
                                    commentEntry += `<input onclick="deleteComment(${String(comment.cidx)})" text="" type="button" value="삭제">`
                                }
                            }
                    commentEntry += '</td></table>';
                    $('#comments').append(commentEntry);
                });
            },
            error: function (xhr, status, error) {
                console.log('Error:', error);
                // alert("리프레쉬실패");
                alert("오류로 인해 목록을 다시 가져오지못했습니다.")
            }
        });
    }

    // 댓글 제출을 처리하기 위한 Ajax 코드
    $('#comment_form').submit(function (event) {
        event.preventDefault(); // 기본 폼 제출 방지

        var commentText = $('#comment_text').val(); // 댓글 텍스트 가져오기
        if(commentText == null || commentText.trim() == ''){
            alert("댓글에 입력된 값이 없습니다.");
            return
        }
        var cwriter = $('#cwriter').val(); // 작성자 가져오기
        // let idx = getIdxFromUrl();

        // 댓글을 제출하기 위한 Ajax 요청 보내기
        $.ajax({
            url: '/Board/WriteComment',
            type: 'POST',
            contentType: 'application/json', // 컨텐츠 타입 설정
            dataType: 'json',
            data: JSON.stringify({
                comment_text: commentText,
                cwriter: cwriter,
                idx: idx
            }), // 데이터를 JSON 문자열로 직렬화하여 전송
            success: function (response) {
                // alert('댓글성공');
                refreshComments(); // 댓글 목록 새로고침
                $('#comment_text').val(''); // 댓글 텍스트 필드 비우기
            },
            error: function (xhr, status, error) {
                // 에러 응답 처리
                console.log("error = " + error);
            }
        });

    });

    function deleteComment(cidx) {
        // alert(cidx);
        $.ajax({
            url: '/Board/DeleteComment',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                cidx: cidx,
                idx: idx
            }),
            success: function (result) {
                refreshComments();
            },
            error: function () {
                alert("댓글 삭제 에러");
                console(error);
            }

        })
    }

    function updateFormComment(cidx){
        // alert(typeof cidx);
        let fcidx = String(cidx);
        let nowcidx = $(`#contents span[name=${fcidx}]`);
        // alert(fcidx+"누고");
        // alert(nowcidx.text());
        // nowcidx.prop("hidden",true);
        let tab = nowcidx.parent()
        nowcidx.empty();
        let tdpa = nowcidx.parent();
        latd = tdpa.parent().children().last();
        latd.empty();
        tdpa.append(`<input id="setComment" width="100%" type="text" value="">`);
        let com_text = $('#setComment');
        latd.append(`<input id="inupcom" type="button" value="수정">`);
        latd.append(`<input type="button" value="취소">`);
        $('#inupcom').click(function(){
            if(com_text.val() == null || com_text.val().trim() == ''){
                alert("댓글에 입력된 값이 없습니다.")
                return
            } 
            updateCommnet(com_text.val(), fcidx);
        });
    }
    function updateCommnet(comment_text, cidx){
        // alert(cidx+"가왓나");
        $.ajax({
            url: '/Board/UpdateComment',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                cidx: cidx,
                comment_text: comment_text
            }),
            success: function (result) {
                refreshComments();
            },
            error: function () {
                alert("댓글 수정 에러");
                console(error);
            }

        })
    }






    let fuck = document.getElementById('hidcont').innerText;
    $('#cont').append(fuck);
    $('#board_set input[value="삭제"]').click(function () {
        if (confirm('게시글을 정말 삭제하시겠습니까?') == true) {
            alert('게시글을 삭제 하였습니다.');
            location.href = "/Board/Delete?idx=[[${param.idx}]]&menu_id=[[${param.menu_id}]]";
        } else {
            alert('취소 했습니다.');
            return;
        }
    });





</script>

</html>