<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header.html</title>
</head>

<body>
    <header class="header" th:fragment="headerFragment">
        <!-- <link rel="stylesheet" href="/css/kyung.css"> -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/header.css">


        <ul>
            <a onclick="location.href='/home'">Home</a>
        </ul>

        <ul>
            <div id="comu">
            <a>Community</a>
            <div id="menus" style="position: relative;">
                <div id="boardDiv" style="border-radius: 4px; display: none; position: absolute; background-color: #B6CDF2; padding: 5px 0; padding-bottom: 10px;">
                    <li th:each="menu : ${#servletContext.getAttribute('menuList')}">
                        <th:blcok th:if="${menu.menu_name != '갤러리'}">
                            <a style="text-shadow:1px 1px 1px #000;" th:href="@{/Board/List(menu_id=${menu.menu_id},nowpage=1)}"
                                th:text="${menu.menu_name}"></a>
                        </th:blcok>
                        <th:blcok th:if="${menu.menu_name == '갤러리'}">
                            <a style="text-shadow:1px 1px 1px #000;" th:href="@{/ImageBoard/List(nowpage=1)}"
                                th:text="${menu.menu_name}"></a>
                        </th:blcok>
                    </li>
                </div>
            </div>
        </div>
        </ul>

        <ul>
            <a href="/news">News</a>
        </ul>
        <ul>
            <a href="">Client-Center</a>
        </ul>
        <ul>
            <a href="/userlist">Help</a>
        </ul>
        <ul th:if="${session.user} == null">
            <a th:href="@{/loginpage}">Login</a>
        </ul>
        <ul th:if="${session.user}">
            <a th:href="@{/hello}">MaPage</a>
        </ul>
        <ul th:if="${session.user}">
            <a id="logout" th:href="@{/logout}">Logout</a>
        </ul>


        <!-- <a href="/home">Home</a>
        <a id="BoardList" href="/Board/List">Community
            <a href="">ggg</a>
        </a>
        <a href="/news">News</a>
        <a href="">Client-Center</a>
        <a href="/userlist">Help</a>
        <a href="/loginpage">Login</a> -->


        <marquee behavior="alternate" style="position: relative; z-index: -1;">WeleCome Green Sports</marquee>
        <div style="text-align: right; margin: 0 450px 10px 0;">
            <h1 id="clock" style="color:white; margin: 0 10px 0 0;">clock</h1>
        </div>

        <script>
            var Target = document.getElementById("clock");
            function clock() {
                var time = new Date();

                var year = time.getFullYear();
                var month = time.getMonth();
                var date = time.getDate();
                var day = time.getDay();
                var week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];

                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();


                Target.innerText =
                    `${year}.${month + 1}. ${date} ${week[day]} ` +
                    `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

            }
            clock();
            setInterval(clock, 1000); // 1초마다 실행

            // let hd$ = jQuery.noConflict(); // 다른 html jquery 랑 충돌일어나서 바꿈
            $(document).ready(function () {
                let comuEl = $('#comu');
                let targetSubMenu = $("#boardDiv");

                comuEl.hover(function () {
                    if (targetSubMenu.is(":visible")) {
                        targetSubMenu.slideUp();
                    } else {
                        targetSubMenu.slideDown();
                    }
                });
            });

        </script>

    </header>
</body>

</html>