<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="left_side" th:fragment="leftFragment">
        <link rel="stylesheet" href="/css/left_side.css">
        <div id="main">
            <div id="lsidebar">
                <div id="lsidebar1">
                    <div class="hlog">
                        <th:block th:if="${session.user}">
                            <div style="height: 250px;">
                                <div style="height: 70%; display: flex; align-items: center; justify-content: center;">
                                    <p style="font-weight: bold;" th:text="|${session.user.username}님 반갑습니다.|"></p>
                                </div>
                                <a href="/logout">로그아웃하기</a>
                            </div>
                        </th:block>
                        <th:blcok th:if="${session.user == null}">
                        <section class="login-form">
                            <form action="/loginthe" method="post">
                                <div class="int-area">
                                    <h1 class="logf">LOGIN</h1>
                                    <input type="text" name="userid" id="id" autocomplete="off" required>
                                    <br><label for="id">USER NAME</label>
                                </div>
                                <div class="int-area">
                                    <input type="password" name="passwd" id="pw" autocomplete="off" required>
                                    <br><label for="pw">PASSWORD</label>
                                </div>
                                <div class="btn-area" style="padding-bottom: 10px;">
                                    <button type="submit"
                                        style="width: 4cm;height: 0.8cm; font-size: 20px;font-weight: bold; padding-bottom: 10px;">login</button>
                                </div>
                            </form>

                            <div class="caption">
                                <a href="">Forgot Password?</a>
                                <span>/</span><br>
                                <a href="">Create An Account!</a>
                            </div>
                        </section>
                    </th:blcok>
                    </div>
                </div>
                <div id="lsidebar2">
                    <!-- <iframe width="280" height="500" frameborder=0 framespacing=0 marginheight=0 marginwidth=0
                        scrolling=yes vspace=0 src="http://192.168.0.197:8083/chat/JeaDragon"></iframe> -->
                            <div th:if="${session.user}">
                                <iframe width=100% height=700px frameborder=0 framespacing=0 marginheight=0 marginwidth=0
                                    scrolling=yes vspace=0 th:src="@{'http://192.168.0.197:8084/chat/' + ${session.user.username}}"></iframe>
                            </div>
                            <div th:if="${session.user == null}">
                                <iframe width=100% height=700px frameborder=0 framespacing=0 marginheight=0 marginwidth=0
                                    scrolling=yes vspace=0 src="http://192.168.0.197:8084/chat/Guest"></iframe>
                            </div>
                            
                        </div>
                </div>
    </section>

</body>

</html>