<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="rightFragment" class="right_side">
        <link rel="stylesheet" href="/css/right_side.css">
        <div id="right_side_top" style="height: 400px;">
            <iframe src="/User/homeList" frameborder="0" style="width: 100%; height: 100%;"></iframe>
        </div>
        <div id="right_side_bottom">
            <img src="/img/CM1X.gif" style="width: 100%;" alt="">
            <img src="/img/CM2X.gif" style="width: 100%;" alt="">
            <b>광고문의 : greensports@gmail.com</b>
        </div>
        
    </div>
</body>
</html>