<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="rightFragment" class="right_side">
        <link rel="stylesheet" href="/css/right_side.css">
        <div id="right_side_top" style="height: 400px;">
            <p>userlist</p>
        </div>
        <div id="right_side_bottom">
            <p>광고</p>
            <p>광고</p>
            <p>광고</p>
            <p>광고</p>
        </div>
        
    </div>
</body>
</html>